.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

.contact-text {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.contact-form {
    background-color: rgb(184, 180, 180);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    border: 2px solid #857473;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: #0D1321;
    font-weight: bold;
    margin-bottom: 8px;
}

.input-group input, 
.input-group textarea {
    background-color: #0D1321;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
}

.input-group input:focus, 
.input-group textarea:focus {
    border-color: #0D1321;
}

.submit-btn {
    background-color: #4e4646;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #0D1321;
}